@model IEnumerable<FITApplication.Models.Program>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="mt-5">
        <h5 class="d-inline">ALL PROGRAMS</h5>
        @if ((User.IsInRole("Admin")) || (User.IsInRole("Trainer")))
        {
            <a href="/Programs/Create" class="float-end btn btn-outline-primary btn-sm">Create New</a>
        }
        </div>
    <hr />


    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 text-center">
                <div class="card col-sm-6 col-md-3 m-3" style="width: 18rem;">
                    <img class="card-img img-fluid" src="@item.ImgUrl" height="100" alt="Card image cap">
                    <div class="card-body bg-secondary">
                        <p class="card-text mt-1 text-white">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <button class="btn btn-dark btn-sm px-5" onclick="location.href='/Programs/Details/@item.ProgramID';">@item.Name</button>
                    </div>
                </div>

            </div>
        }
    </div>
    <hr />
</div>